* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(#1e293b, transparent),
    linear-gradient(to top left, #4d7c0f, transparent),
    linear-gradient(#182f3b, transparent),
    linear-gradient(to top right, #b91c1c, transparent);
  background-blend-mode: screen;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
  font-family: inherit;
  color: #1c1917;
  font-size: 13px;
}

.app {
  padding: 6.5rem 10rem;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #bef2642a;
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 25%);
}

main {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  position: relative;
  height: 35vh;
  width: 60rem;
}

.left {
  width: 0;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 21rem;
  height: 5.6rem;
  font-size: 2rem;
  color: #27272aef;
  font-size: 2.2rem;
  position: absolute;
  right: 37rem;
  bottom: 14.2rem;
}

h1 {
  color: #27272aef;
  font-size: 4.5rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.high-score-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon-1 {
  position: absolute;
  left: 0;
  bottom: 2rem;
}

.icon-2 {
  position: absolute;
  right: 17rem;
  bottom: -2.5rem;
}

.icon {
  width: 4rem;
  height: 4rem;
  transition: all 0.3s;
}

.icon:hover {
  transform: translateY(-4px);
}

.number {
  width: 15rem;
  height: 14rem;
  text-align: center;
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 12px;
  z-index: 999999;
  transition: all 0.4s;
}

.result {
  background-color: #d4d4d849;

  width: 15rem;
  height: 14rem;
  text-align: center;
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%) !important;
  transition: all 0.3s;
}

.hidden {
  opacity: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.between {
  font-size: 2.5rem;
  position: absolute;
  top: -3rem;
  right: -6.5rem;
  color: #27272aef;
}

.again {
  position: absolute;
  top: -3.7rem;
  left: -7rem;
}

.guess {
  border: none;
  background: none;
  background-color: #effccb25;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 4rem;
  border-radius: 10px;
  width: 13rem;
  height: 5.5rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  position: absolute;
  bottom: 16rem;
  left: 39.1rem;
}

.guess::placeholder {
  color: #27272a70;
  font-size: 19px;
  padding-left: 12px;
  font-family: "Josefin Sans", sans-serif !important;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: #fcdea51f;
  color: #27272aef;
  font-size: 2.2rem;
  padding: 1.5rem 2.5rem;
  border-radius: 10px;
  font-family: "Josefin Sans", sans-serif;
  transition: all 0.4s !important;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.btn:hover {
  background-color: #fcdea511;
}

.check {
  position: absolute;
  bottom: 12rem;
  left: 40rem;
}

.check:hover {
  transform: translateY(5px);
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(88, 86, 86, 0.103);
  transition: all 0.3s;
  transform: translateY(-3px);
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  position: absolute;
  bottom: 4rem;
  right: 4.5rem;
  width: 16rem;
  height: 6rem;
  background-color: #5f583131;
  border-radius: 100px;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  transition: all 0.2s;
}

.message:hover {
  transform: translateY(-5px);
}

.label-score {
  margin-bottom: 2.6rem;
  margin-left: -2.7rem;
}
